{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="error">
        <h1>Oops! We couldn't find that page.</h1>
        <p>The resource you're looking for is not available. Please check the URL or contact support if you need help.
        </p>
    </div>
</body>

</html>